.paymentPageContainer {
  width: 70%;
  margin: 0 auto;
  padding: 1em 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.paymentPageLeftSide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.paymentPageRightSide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }

.creditCardForm {
  margin-top: 1em; }

.ccInputField {
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 20px;
  outline: none;
  padding: 10px;
  transition: all 0.4s; }

.flex2 {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0%; }

.flex1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%; }

.costReview {
  font-size: 1.5em;
  margin-bottom: 1em; }

.recipientReview {
  font-size: 1.5em;
  margin-bottom: 1em; }
