.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipientForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redAsterix {
  margin-bottom: -10px;
}

input:disabled {
  color: gray;
}
